.left__photo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}

.photo {
    width: 300px;
    height: auto;
    border: 2px solid #e2b714;
    border-radius: 50%;
    overflow: hidden;
}