.about__wrapper {
    padding: 20px 20px 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__title {
    color: $black2;
    font-family: Forum;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about__description {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    line-height: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.about_slider {
    position: relative;
}



.slider_wrapper {
    max-width: 1400px;
    overflow: hidden;
    transition: 0.1s linear;
}

.slider__inner {
    display: flex;
    width: 1000%;
    height: 100%;
    transition: all .5s;
    column-gap: 26px;
}

.slider__item img {
    width: 100%;
    height: auto;
    // width: 450px;
    // height: 560px;
}







.carousel {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.carousel_list {
    display: flex;
    justify-content: center;
}

.carousel_item {
    display: flex;
    width: 26px;
    height: 26px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover .carousel_icon {
        background-color: $brown;
    }

}

.visible2, .visible1 {
    display: none;
}

.slider_btn {
    display: none;
}

.slider_prev, .slider_next {
    position: absolute;
    top: 0;
    display: none;
    width: 100px;
    height: 560px;

    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        background-color: darken($color: $white, $amount: 20%);
    }

    &.inactive {
        opacity: 0.3;
    }

}

.slider_prev {
    left: -120px;

    & img {
        position: relative;
        top: 19px;
    }
}

.slider_next {
    right: -120px;

    & img {
        position: relative;
        top: 19px;
    }
}



.carousel_icon {
    display: block;
    content: " ";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $black;

    &.checked {
        background-color: $brown;
    }
}

@media screen and (max-width: 1440px) {
    .slider_wrapper {
        max-width: 925px;
    }

    .visible1 {
        display: flex;
    }
}   


@media screen and (max-width: 1024px) {
    .slider_wrapper {
        max-width: 450px;
    }

    .slider_btn {
        display: block;
    }

    .slider_prev, .slider_next {
        display: flex;

    }

    .visible2 {
        display: flex;
    }

}


@media screen and (max-width: 768px) {
    // .slider_wrapper {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    // }

    // .about__slider {
    //     width: 62%;
    // }

    // .slider__inner {
    //     grid-auto-columns: max-content;
    //     grid-template-rows: auto;
    //     column-gap: 0;
    // }

    // .slider__item:nth-child(3) {
    //     display: none;
    // }
    .carousel {
        margin-top: 17px;
    }

}