.fav__books {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.book__item {
    position: relative;
    max-width: 590px;
    width: 100%;
    height: auto;
    padding-right: 40px;
    margin-bottom: 40px;
    transition: opacity 0.5s linear;

    &:nth-child(2n + 1) {
        margin-right: auto;
    }
}

.book__item.visible {
    opacity: 1;
}

.book__item.hidden {
    opacity: 0;
}

.book__item.hidden.none {
    display: none;
}

.book__wrapper {
    border: 1px solid $black;
    padding: 14px 172px 55px 19px;
    min-height: 555px;;
    height: auto;
}

.book__text {
    color: $black;
    font-family: Forum;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.border.book {
    width: 60px;
    background-color: $brown;
    margin-bottom: 20px;
}

.book__title,
.book__autor {
    white-space: nowrap;
    color: $black;
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.book__autor {
    text-transform: none;
}

.book__prescription {
    color: $black;
    font-family: Inter;
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 20px;
}

.button.book {
    position: absolute;
    bottom: 15px;
    left: 20px;
    z-index: 2;
    margin-top: 14px;
}

.button.book:disabled {
    border-color: $brown;
    color: $brown;
    cursor: default;

    &:hover {
        background-color: $white;
    }
}

.book__img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    max-width: 200px;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 1230px) {

    .fav__books {
        align-items: center;
        flex-direction: column;
    }



    .book__item {
        &:nth-child(2n + 1) {
            margin-right: 0;
        }
    }
}