// .profile_menu_wrapper {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100vh;
//     height: 100vh;
// }


.profile_menu {
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 3;
    opacity: 0;
    padding: 5px 2px 8px;
    width: 80px;
    height: 0;
    background-color: $white;
    // padding: 5px 2px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s;
    visibility: hidden;
}

.profile_menu.profile_open {
    opacity: 1;
    height: 115px;
    visibility: visible;
}

.profile_name {
    color: $black;
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 5px;
}

.border.profile_border {
    width: 40px;
    background-color: $brown;
    margin-bottom: 15px;
}

.profile_login, .profile_register {
    color: $black;
    font-family: Inter;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;
}
