.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #0000009a;

    opacity: 0;
    visibility: hidden;

    overflow: auto;
    overflow-x: hidden;

    transition: all 0.8s linear;
}

.popup.open {
    opacity: 1;
    visibility: visible;
}

.popup.open .login_popup {
    opacity: 1;
    transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
}

.popup_body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.close_btn {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 4;
    width: 20px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.close_img {
    transition: transform 0.1s linear;
    width: 15px;
    height: 15px;
}

.close_btn:hover .close_img {
    transform: scale(1.3) rotate(45deg);
}

// login
.login_popup {
    position: relative;
    background-color: #ffffff;
    color: #000;
    width: 250px;
    height: 262px;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.pop_login_title {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.login_label {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.3px;
}

.login_email_input {}

.loginRegister_input {
    height: 20px;
    width: 100%;
    border: 1px solid $brown;
    margin: 10px 0;
}

.btn_modal {
    margin-top: 10px;
    margin-bottom: 10px;
}

.login_info {
    width: 100%;
}

.login_info_title {
    color: $black;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
    font-family: Inter;
    font-size: 10px;
    margin-right: 10px;
}

.login_info_link {
    color: $black2;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration-line: underline;
}

// =================
// Register

.popup.open .register_popup {
    opacity: 1;
    transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
}

.register_popup {
    position: relative;
    background-color: #ffffff;
    color: #000;
    width: 250px;
    height: 382px;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}
//=========