.welcome__wrapper {
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%), url("./../img/welcome.png") center no-repeat;
    min-height: 600px;
}

.welcome__content {
    padding: 255px 0 0 20px;
    max-width: 576px;
    width: 100%;

}

.welcome__title {
    color: $white;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
}