.header {
    min-height: 39px;
    position: relative;
    margin-top: 20px;
    padding: 0 20px;
    background-color: #e2b714;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.burger {
    display: none;
    width: 40px;
    height: 40px;
    background: url(../../../img/burger-svgrepo-com.svg) center no-repeat;
    background-size: 30px auto;
    cursor: pointer;
}

.active {
    display: block;
}

@media (max-width: 600px) {

    .header {
        justify-content: flex-start;
    }
}

@media (max-width: 600px) {
    .burger {
        display: block;
    }
}