/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./node_modules/sass-resources-loader/lib/loader.js??ruleSet[1].rules[1].use[4]!./src/app/view/header/nav/links/style.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav_item a {
  padding: 9px 9px;
  font-size: 1.5rem;
  line-height: 2;
  color: #646669;
  cursor: pointer;
}

.nav_item a:hover {
  color: #27292b;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./node_modules/sass-resources-loader/lib/loader.js??ruleSet[1].rules[1].use[4]!./src/app/view/header/nav/style.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.nav {
  width: 100%;
}

@media (max-width: 768px) {
  .nav_item a {
    font-size: 1.2rem;
  }
}
@media (max-width: 600px) {
  .overflow {
    overflow: hidden;
  }
  .header {
    justify-content: flex-start;
  }
  .burger {
    display: block;
  }
  .nav {
    background-color: #646669;
    position: fixed;
    top: -100%;
    left: 0;
    z-index: 3;
    width: 100vh;
    height: 100vh;
    transition: top 0.3s ease-in-out;
  }
  .nav.drop {
    top: 0;
  }
  .nav__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .nav_item a {
    padding-left: 30px;
    font-size: 2rem;
    font-weight: 700;
    color: #e2b714;
  }
  .nav_item a:hover {
    -webkit-text-decoration: underline;
    text-decoration: underline;
  }
}
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./node_modules/sass-resources-loader/lib/loader.js??ruleSet[1].rules[1].use[4]!./src/app/view/header/style.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.header {
  min-height: 39px;
  position: relative;
  margin-top: 20px;
  padding: 0 20px;
  background-color: #e2b714;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.burger {
  display: none;
  width: 40px;
  height: 40px;
  background: url(assets/img/burger-svgrepo-com.svg) center no-repeat;
  background-size: 30px auto;
  cursor: pointer;
}

.active {
  display: block;
}

@media (max-width: 600px) {
  .header {
    justify-content: flex-start;
  }
}
@media (max-width: 600px) {
  .burger {
    display: block;
  }
}
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./node_modules/sass-resources-loader/lib/loader.js??ruleSet[1].rules[1].use[4]!./src/app/view/footer/style.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.footer {
  margin-bottom: 20px;
  background-color: #e2b714;
  border-radius: 5px;
}

.footer__list {
  display: flex;
  justify-content: space-between;
}

.footer__item {
  padding: 10px;
  font-size: 1rem;
  color: #000;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.git__logo {
  width: 30px;
  height: auto;
}

.git__link {
  display: block;
  padding-left: 40px;
  color: #000;
  line-height: 2;
  background: url(assets/img/github-142-svgrepo-com.svg) no-repeat;
  background-size: 30px 30px;
}

.git__link:hover {
  -webkit-text-decoration: underline;
  text-decoration: underline;
}

.rs__link img {
  width: 100px;
  height: auto;
}
/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./node_modules/sass-resources-loader/lib/loader.js??ruleSet[1].rules[1].use[4]!./src/style/style.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  list-style: none;
  font: inherit;
}

ul,
p,
h1,
h2,
h2,
h4 {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #d1d0c5;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 62.5%;
  background-color: #323437;
  color: #d1d0c5;
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
}

.container {
  max-width: 1000px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./node_modules/sass-resources-loader/lib/loader.js??ruleSet[1].rules[1].use[4]!./src/app/view/main/style.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.main__wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

.right__part {
  width: 65%;
  padding: 90px 0 20px 60px;
}

.right__title {
  font-size: 3rem;
}

.right__text {
  font-size: 2rem;
}

.title__right {
  width: 110%;
  margin-left: -60px;
  margin-bottom: 40px;
}

.about__me {
  margin: 200px 0 50px;
}

.description__text {
  font-size: 1rem;
}

.skills {
  margin-bottom: 50px;
}

.skills__list {
  list-style-type: disc;
}

.skills__item {
  margin-bottom: 20px;
  list-style-type: disc;
}

.code {
  font-size: 1rem;
}

.code__example {
  margin-bottom: 50PX;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./node_modules/sass-resources-loader/lib/loader.js??ruleSet[1].rules[1].use[4]!./src/app/view/main/leftpart/content/contacts/style.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************/
.mini__title {
  position: relative;
  padding-left: 60px;
  width: 90%;
  height: 40px;
  background-color: #2c2e31;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 1.2rem;
  line-height: 2;
}

.contact_list {
  padding: 15px 30px;
}

.contact_item {
  font-size: 1rem;
  line-height: 2;
  color: #d1d0c5;
  margin-bottom: 10px;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./node_modules/sass-resources-loader/lib/loader.js??ruleSet[1].rules[1].use[4]!./src/app/view/main/leftpart/content/education/style.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************/
.mini__title {
  position: relative;
  padding-left: 60px;
  width: 90%;
  height: 40px;
  background-color: #2c2e31;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 1.2rem;
  line-height: 2;
}

.contact_list {
  padding: 15px 30px;
}

.contact_item {
  font-size: 1rem;
  line-height: 2;
  color: #d1d0c5;
  margin-bottom: 10px;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./node_modules/sass-resources-loader/lib/loader.js??ruleSet[1].rules[1].use[4]!./src/app/view/main/leftpart/content/style.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.left__contacts {
  margin-top: 10px;
}

.mini__title::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  height: 40px;
  width: 30px;
  background-color: #e2b714;
}

.contact_list {
  padding: 15px 30px;
}

.contact_item {
  font-size: 1rem;
  line-height: 2;
  color: #d1d0c5;
  margin-bottom: 10px;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./node_modules/sass-resources-loader/lib/loader.js??ruleSet[1].rules[1].use[4]!./src/app/view/main/leftpart/photo/style.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.left__photo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
}

.photo {
  width: 300px;
  height: auto;
  border: 2px solid #e2b714;
  border-radius: 50%;
  overflow: hidden;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./node_modules/sass-resources-loader/lib/loader.js??ruleSet[1].rules[1].use[4]!./src/app/view/main/leftpart/style.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.left__part {
  width: 35%;
  border: 1px solid #646669;
  border-radius: 10px;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./node_modules/sass-resources-loader/lib/loader.js??ruleSet[1].rules[1].use[4]!./src/app/view/main/rightPart/style.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.right__part {
  width: 65%;
  padding: 90px 0 20px 60px;
}

.right__title {
  font-size: 3rem;
}

.right__text {
  font-size: 2rem;
}

.title__right {
  width: 110%;
  margin-left: -60px;
  margin-bottom: 40px;
}

.about__me {
  margin: 200px 0 50px;
}

.description__text {
  font-size: 1rem;
}

.skills {
  margin-bottom: 50px;
}

.skills__list {
  list-style-type: disc;
}

.skills__item {
  margin-bottom: 20px;
  list-style-type: disc;
  font-size: 1rem;
}

.code {
  font-size: 1rem;
}

.code__example {
  margin-bottom: 50PX;
}

.projects_list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.projects_item {
  border-radius: 10px;
  border: 1px solid #e2b714;
  overflow: hidden;
  width: 30%;
  height: auto;
  background-color: #323437;
}

.projects_link {
  display: block;
  text-align: center;
  color: #e2b714;
  font-size: 2vmin;
}

.projects_img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .mini__title {
    font-size: 1rem;
    padding-left: 40px;
    line-height: 2.5;
  }
}
@media (max-width: 600px) {
  .right__title {
    font-size: 2rem;
  }
  .right__text {
    font-size: 1rem;
  }
  .about__me {
    margin: 120px 0 50px;
  }
  .mini__title {
    width: 100%;
  }
  .contact_item {
    font-size: 0.7rem;
  }
  .description__text {
    font-size: 0.7rem;
  }
}
